.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#header {
 width: 100%;
}

#mainHeader {
  color: #8F898D;
  font-size: 40px;
  text-align: center;
  font-family: cursive sans-serif;;
  margin-bottom: 20px;
}

#fish, #chinook {
  margin-top: 65px;
  opacity: 0.7;
  width: 600px;
  margin-left: 220px;
}

hr {
  height: 10px;
  background-color: #8F898D;
}

#main, #bakerBuddy3 {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  text-align: left;
  font-family: cursive sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #8F898D;
}

table {
  border: none;
  width: 700px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

td {
  padding: 5px;
  background-color: #8F898D;
  font-size: 20px;
  text-align: center;
  color: white;
}

tr {
    font-size: 20px;
}

#tableH {
  padding: 5px;
  border: none;
  background-color: #8F898D;
  font-size: 20px;
  text-align: center;
  color: white;
}

#cookie1 {
  width: 85px;
  margin-left: 20px;
}

#cookie2 {
  width: 70px;
}

#cookie3 {
  width: 65px;
}

#cookie4 {
  width: 60px;
}

#cookie5 {
  width: 55px;
}

#cookie6 {
  width: 50px;
}

#cookie7 {
  width: 45px;
}

#cookie8 {
  width: 40px;
}

#cookie9 {
  width: 35px;
}

#cookie10 {
  width: 30px;
}

#bakerBuddy1 {
  color: #8F898D;
  font-size: 30px;
  font-weight: bold;
  margin-left: 25px;
  margin-bottom: 20px;
}

#bakerBuddy2 {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#family {
  width: 500px;
  border-radius: 50%;
}

#caption {
  font-size: 20px;
  color: #8F898D;
}

p {
  margin-bottom: 20px;
  font-family: cursive sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 40px;
  border-radius: 50%;
  text-align: center;
}

#footerDiv {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

#img3 {
    width: 200px;
}

#finalParagraph {
  background-color: #FC514D;
  color: white;
  text-align: center;
  font-family: cursive sans-serif;
  font-size: 20px;
  font-weight: 400;
  padding: 40px;
  border-radius: 50%;
}

#submit1 {
  width: 110px;
  padding: 10px;
  background-color: #FC514D;
  font-family: cursive sans-serif;
  font-size: 15px;
  color: white;
  border-radius: 50%;
  margin-left: 100px;
}

#submit1:hover {
  background-color: #8F898D;
}
