body{
  background-color: #FFEBDB;
}
P {
  font-family: Georgia;
  text-align: center;
  color: black;
  font-size: 25px;
}
ul {
  font-family: sans-serif;
  text-align: center;
  list-style: none;
}
li{
  font-family: sans-serif;
  border: solid  1px white;
  color: white;
  background-color: brown;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: none;
  width: 400px;
}
h1 {
  font-family: Georgia;
  color: brown;
  text-align: center;
}
h2{
  color: brown;
}
